asgiref==3.8.1
astroid==2.15.8
black==24.8.0
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.4.4
click==8.1.7
distlib==0.3.8
dj-rest-auth==6.0.0
Django==5.1
django-allauth==64.1.0
django-cors-headers==4.4.0
django-extensions==3.2.1
django-filter==24.3
django-private-storage==3.1.1
djangorestframework==3.15.2
djangorestframework-jsonapi==6.0.0
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
filelock==3.15.1
flake8==6.1.0
flake8-django==1.4
gunicorn==23.0.0
identify==2.6.0
inflection==0.5.1
lazy-object-proxy==1.10.0
Markdown==3.6
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==2.3.5
packaging==24.1
pathspec==0.12.1
pillow==12.0.0
pipenv==2024.0.1
platformdirs==4.2.2
pre-commit==3.8.0
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pyflakes==3.1.0
Pygments==2.15.1
PyJWT==2.9.0
python-decouple==3.8
python-dotenv==0.21.0
python-json-logger==4.0.0
pytz==2024.1
PyYAML==6.0.2
qrcode==8.2
reportlab==4.4.5
setuptools==69.5.1
shapely==2.1.2
sqlparse==0.5.1
tomli==2.0.1
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
virtualenv==20.26.2
wheel==0.43.0
wrapt==1.16.0
